/* your css code here. If applicable */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px 10px; 
  width: 100%;
  max-width: 660px; 
  padding: 10px;
}

.grid-item {
  background-color: lightgray; 
  height: 150px;
  width: 200px;
  border-radius: 5px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
